@import "./config";

.head {
  display: flex;
  align-items: center;
  justify-content: center;

  .navBar {
    color: white;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;
    @include shadow;

    .search {
      position: relative;
      display: flex;
      align-items: center;
      margin: 1rem;
      height: 5vh;
      width: 16rem;

      .input {

        display: flex;
        flex-direction: column;

        .inputBox {
          color: white;
          font-weight: 900;
          font-family: Helvetica, sans-serif;
          padding-left: 0.5rem;
          width: 14.2rem;
          @include outline;
          border-bottom: 2px solid black;
        }

        .warning {
          position: absolute;
          top: 85%;
          left: 2%;
          margin-top: 0.2rem;
          color: rgb(255, 0, 0);
          font-size: 15px;
        }

      }


      .searchBtn {
        cursor: pointer;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        padding: 0.3rem;
        margin-left: 1rem;
        margin-bottom: 0.3rem;

        &:hover {
          @include shadow;
          font-size: 20px;
        }
      }
    }
  }
}



.container {
  color: white;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: calc(100vh - 14vh);
  align-items: center;
  justify-content: center;

  .windInfo {
    justify-self: end;
    grid-column: 3/3;
    grid-row: 1/2;
    height: 17.5rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0;

    .sunrise_sunset {
      @include shadow;
      display: flex;
      width: 16rem;
      padding: 1rem;
      justify-content: space-evenly;
      background-color: $primary-color;

      .sun {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .image {
        width: 4rem;
      }
    }



    .wind {
      @include shadow;
      width: 16rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      margin: 1rem 0;
      padding: 1.2rem;
      height: 3.3rem;
    }
  }


  .importantInfo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    height: 17.5rem;
    justify-content: space-between;
    margin: 2rem 0;

    .country {
      @include shadow;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16rem;
      height: 3rem;
      padding: 1rem;
      background-color: $primary-color;

      .countryName {
        margin-right: 1rem;
      }
    }

    .dateTime {
      @include shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16rem;
      height: 3rem;
      padding: 1rem;
      background-color: $primary-color;

      &__date {
        margin-right: 1rem;
      }
    }

    .weather {
      @include shadow;
      background-color: $primary-color;
      width: 16rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      &__info {
        margin-right: 1rem;
      }
    }

    .maintemperature {
      @include shadow;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 16rem;
      height: 5.5rem;
      background-color: $primary-color;

      h1 {
        @include margin;
      }
    }
  }

  .temperature_container {
    @include shadow;
    background-color: $primary-color;
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;

    .temperature {
      width: 10rem;
      height: 4rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}